<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily standup generator</title>
    <style>
    body {
      background-color: #000;
      margin: auto;
      padding: 200px;
      font: 30pt Verdana, Helvetica, Arial;
      color: #FFF;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 60px;
      margin-top: 0px;
      font: 20pt Verdana,  Helvetica, Arial;
    }
    img {
      width: 50%;
    }
    </style>
  </head>
  <body>
    <h3>{{ done }}</h3>
    <h3>{{ todo }}</h3>
  </body>
</html>

